* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", arial, sans-serif;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
}
.navbar-container > ul {
  display: flex;
  list-style: none;
}
.navbar-container > ul > li {
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 40px;
  letter-spacing: 0.1rem;
  opacity: 50%;
  transition: opacity 0.5s;
}
.navbar-container > ul > li:hover {
  opacity: 100%;
  cursor: pointer;
}
.showcase-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-image: url(./img/showcase.jpg);
  background-size: cover;
  background-position: center;

  /* overlay */
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}
.showcase-container > h1 {
  font-weight: 600;
  font-size: 4rem;
}
.showcase-container > p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  color: #eee;
  border-bottom: 1.5px solid #eee;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  letter-spacing: 0.15rem;
}
/* SOBRE MIM */
.aboutme-content {
  display: flex;
  margin-top: 50px;
  align-items: center;
}
.aboutme-content > img {
  width: 320px;
  height: 320px;
  margin-right: 50px;
}
.aboutme-content > p {
  color: white;
  line-height: 2rem;
}

/* HABILIDADES */
.skills-content {
  margin-top: 108px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.skill-items {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
}
.skill-items img {
  width: 150px;
}

.skill-items span {
  margin: 15px 0px;
  color: white;
  font-weight: 500;
}
.skill-items p {
  opacity: 75%;
  color: white;
}
.skills-content .skill-items:nth-child(2) {
  margin-left: 50px;
  margin-right: 50px;
}
.project-content {
  margin-top: 150px;
  margin-right: 30px;
}
.project-items {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.project-items img {
  width: 400px;
  margin-right: 30px;
  margin-left: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10%;
}
.project-items div {
  margin-bottom: 20px;
  font-size: 1.25rem;
}
.project-items div h3 {
  text-transform: capitalize;
}
.project-text {
  color: white;
}
.project-content .project-items:nth-child(2) .project-text {
  text-align: right;
}
.project-content .project-items:nth-child(4) .project-text {
  text-align: right;
}
/* utilities */
.section-container {
  width: 100%;
  background-color: #111;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  color: #eee;
  margin: auto;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
  text-align: center;
  border-bottom: solid #eee 1.5px;
}
